<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdfzfx.system.mapper.SysMappingResultMapper">
    
    <resultMap type="SysMappingResult" id="SysMappingResultResult">
        <result property="id"    column="id"    />
        <result property="remoteSignalId"    column="remote_signal_id"    />
        <result property="dbStatement"    column="db_statement"    />
        <result property="score"    column="score"    />
        <result property="elapsedTime"    column="elapsed_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysMappingResultVo">
        select id, remote_signal_id, db_statement, score, elapsed_time, create_by, create_time, update_by, update_time, remark from sys_mapping_result
    </sql>

    <select id="selectSysMappingResultList" parameterType="SysMappingResult" resultMap="SysMappingResultResult">
        <include refid="selectSysMappingResultVo"/>
        <where>  
            <if test="remoteSignalId != null  and remoteSignalId != ''"> and remote_signal_id like concat('%', #{remoteSignalId}, '%')</if>
            <if test="dbStatement != null  and dbStatement != ''"> and db_statement like concat('%', #{dbStatement}, '%')</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="elapsedTime != null  and elapsedTime != ''"> and elapsed_time = #{elapsedTime}</if>
        </where>
    </select>
    
    <select id="selectSysMappingResultById" parameterType="Long" resultMap="SysMappingResultResult">
        <include refid="selectSysMappingResultVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysMappingResult" parameterType="SysMappingResult" useGeneratedKeys="true" keyProperty="id">
        insert into sys_mapping_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="remoteSignalId != null and remoteSignalId != ''">remote_signal_id,</if>
            <if test="dbStatement != null">db_statement,</if>
            <if test="score != null">score,</if>
            <if test="elapsedTime != null">elapsed_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="remoteSignalId != null and remoteSignalId != ''">#{remoteSignalId},</if>
            <if test="dbStatement != null">#{dbStatement},</if>
            <if test="score != null">#{score},</if>
            <if test="elapsedTime != null">#{elapsedTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysMappingResult" parameterType="SysMappingResult">
        update sys_mapping_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="remoteSignalId != null and remoteSignalId != ''">remote_signal_id = #{remoteSignalId},</if>
            <if test="dbStatement != null">db_statement = #{dbStatement},</if>
            <if test="score != null">score = #{score},</if>
            <if test="elapsedTime != null">elapsed_time = #{elapsedTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysMappingResultById" parameterType="Long">
        delete from sys_mapping_result where id = #{id}
    </delete>

    <delete id="deleteSysMappingResultByIds" parameterType="String">
        delete from sys_mapping_result where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>